html
  head
    title navbar
    script(src='build/build.js')
    link(rel='stylesheet', href='build/build.css')

    :stylus
      body
        padding: 50px

  h1 navbar

  :coffeescript
    console.log 'Testing navbar'
